n8n/n8n_camera_config_workflow.json
{
  "id": "9c8d7e6f-5a4b-3c2d-1e0f-9876543210fe",
  "name": "AegisEye Camera Configuration Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "configurar-cameras",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2c3664d-5827-4c40-bd88-0679612c6a0d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "= {{ $json.body.action === 'add_camera' ? (\"INSERT INTO cameras (tenant_id, name, device, rtsp, profile, type, status) VALUES ('\" + $json.body.tenant_id + \"', '\" + $json.body.name + \"', '\" + $json.body.device + \"', '\" + $json.body.rtsp + \"', '\" + $json.body.profile + \"', '\" + $json.body.type + \"', '\" + $json.body.status + \"') RETURNING id, name, device, rtsp, profile, type, status;\") : ($json.body.action === 'remove_camera' ? (\"DELETE FROM cameras WHERE id = '\" + $json.body.id + \"' RETURNING id;\") : (\"SELECT id, name, device, rtsp, profile, type, status FROM cameras WHERE tenant_id = '\" + $json.body.tenant_id + \"' ORDER BY created_at ASC;\")) }}",
        "options": {}
      },
      "id": "c1ffae40-e2b2-4d2c-8068-07e32402127d",
      "name": "PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        400,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "c5ef944b-4b10-4ff5-b9f0-c5ef54ab6903",
          "name": "PostgreSQL production"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "d0e1b2c3-4d5e-6f7g-8h9i-0j1k2l3m4n5p",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        620,
        240
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
