scratch/raw_error.json
[{"version":1,"startData":"1","resultData":"2","executionData":"3","resumeToken":"4"},{},{"error":"5","runData":"6","lastNodeExecuted":"7"},{"contextData":"8","nodeExecutionStack":"9","metadata":"10","waitingExecution":"11","waitingExecutionSource":"12","runtimeData":"13"},"3bf57c0f20a209bd4af6c166e946f8dd1ce7760eaf3022f8031f73e80c6929f5",{"level":"14","tags":"15","timestamp":1782616433969,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","httpCode":"21","message":"22","stack":"23"},{"Webhook":"24","Validate Data":"25","Check Validity":"26","Query Existing User":"27","Check Duplicate Exists":"28","Insert Usuario":"29","Insert Empresa":"30","Insert Token":"31","Send Activation Email":"32"},"Send Activation Email",{},["33"],{},{},{},{"version":1,"establishedAt":1782616433294,"source":"34","triggerNode":"35","redaction":"36"},"warning",{},{},"regular","NodeApiError",{"parameters":"37","id":"38","name":"7","type":"39","typeVersion":2.1,"position":"40","credentials":"41"},["22"],"EAUTH","Invalid login: 535-5.7.8 Username and Password not accepted. For more information, go to\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials ffacd0b85a97d-471490336d5sm9399732f8f.35 - gsmtp","NodeApiError: Invalid login: 535-5.7.8 Username and Password not accepted. For more information, go to\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials ffacd0b85a97d-471490336d5sm9399732f8f.35 - gsmtp\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/EmailSend/v2/send.operation.ts:297:10)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/EmailSend/v2/EmailSendV2.node.ts:110:17)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1067:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1367:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1829:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2521:11",["42"],["43"],["44"],["45"],["46"],["47"],["48"],["49"],["50"],{"node":"51","data":"52","source":"53"},"webhook",{"name":"54","type":"55"},{"version":2,"production":false,"manual":false,"source":"56"},{"resource":"57","operation":"58","fromEmail":"59","toEmail":"60","subject":"61","emailFormat":"62","html":"63","options":"64"},"fbe833d1-7e4f-4650-b183-de4b9e1060b4","n8n-nodes-base.emailSend",[1700,480],{"smtp":"65"},{"startTime":1782616433407,"executionIndex":0,"source":"66","hints":"67","executionTime":2,"executionStatus":"68","data":"69"},{"startTime":1782616433410,"executionIndex":1,"source":"70","hints":"71","executionTime":111,"executionStatus":"68","data":"72"},{"startTime":1782616433521,"executionIndex":2,"source":"73","hints":"74","executionTime":10,"executionStatus":"68","data":"75"},{"startTime":1782616433532,"executionIndex":3,"source":"76","hints":"77","executionTime":117,"executionStatus":"68","data":"78"},{"startTime":1782616433650,"executionIndex":4,"source":"79","hints":"80","executionTime":7,"executionStatus":"68","data":"81"},{"startTime":1782616433657,"executionIndex":5,"source":"82","hints":"83","executionTime":31,"executionStatus":"68","data":"84"},{"startTime":1782616433688,"executionIndex":6,"source":"85","hints":"86","executionTime":21,"executionStatus":"68","data":"87"},{"startTime":1782616433709,"executionIndex":7,"source":"88","hints":"89","executionTime":17,"executionStatus":"68","data":"90"},{"startTime":1782616433727,"executionIndex":8,"source":"91","hints":"92","executionTime":277,"executionStatus":"93","error":"94"},{"parameters":"95","id":"38","name":"7","type":"39","typeVersion":2.1,"position":"96","credentials":"97"},{"main":"98"},{"main":"91"},"Webhook","n8n-nodes-base.webhook","workflow","email","send","AegisEye AI <marketing@useturbovox.com.br>","={{ $('Validate Data').item.json.data.email }}","🔑 Ative sua conta no painel AegisEye AI","html","=<div style=\"font-family: 'Inter', sans-serif; max-width: 600px; margin: 0 auto; background-color: #020617; padding: 40px 20px; border-radius: 16px; border: 1px solid #1e293b;\">\n  <div style=\"background-color: #0f172a; border-radius: 12px; overflow: hidden; padding: 30px; border: 1px solid rgba(255,255,255,0.06);\">\n    <div style=\"text-align: center; margin-bottom: 30px;\">\n      <div style=\"display: inline-block; padding: 12px; background: linear-gradient(135deg, #6366f1 0%, #06b6d4 100%); border-radius: 12px; color: #ffffff; font-weight: bold; font-size: 22px; box-shadow: 0 0 20px rgba(99, 102, 241, 0.4);\">\n        AegisEye AI\n      </div>\n    </div>\n    <div style=\"color: #e2e8f0;\">\n      <h2 style=\"font-family: 'Outfit', sans-serif; color: #ffffff; font-size: 22px; margin-bottom: 20px; text-align: center; font-weight: 700;\">Ative sua Conta de Monitoramento! 🚀</h2>\n      <p style=\"font-size: 15px; line-height: 1.7; margin-bottom: 20px; color: #94a3b8;\">\n        Olá, <strong>{{ $('Validate Data').item.json.data.nome }}</strong>,\n      </p>\n      <p style=\"font-size: 15px; line-height: 1.7; margin-bottom: 20px; color: #94a3b8;\">\n        Sua empresa <strong>{{ $('Validate Data').item.json.data.nome_empresa }}</strong> foi pré-cadastrada com sucesso no nosso sistema inteligente de segurança por IA.\n      </p>\n      <p style=\"font-size: 15px; line-height: 1.7; margin-bottom: 25px; color: #94a3b8;\">\n        Para concluir o cadastro, ativar sua conta e definir sua senha pessoal de acesso, por favor clique no botão de ativação abaixo:\n      </p>\n      \n      <div style=\"text-align: center; margin: 30px 0;\">\n        <a href=\"http://144.91.121.55:8000/activate.html?token={{ $json.token }}\" target=\"_blank\" style=\"background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%); color: #ffffff; text-decoration: none; padding: 14px 28px; border-radius: 8px; font-weight: 700; font-size: 15px; display: inline-block; box-shadow: 0 4px 15px rgba(99, 102, 241, 0.35);\">\n          Ativar Conta & Definir Senha\n        </a>\n      </div>\n      \n      <p style=\"font-size: 13px; line-height: 1.6; color: #64748b; text-align: center; margin-top: 30px; border-top: 1px solid #1e293b; padding-top: 20px;\">\n        Este link de ativação expirará em 24 horas por motivos de segurança.<br>\n        Se você não solicitou este cadastro, desconsidere este e-mail.\n      </p>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding-top: 20px;\">\n    <p style=\"color: #475569; font-size: 12px;\">\n      &copy; 2026 AegisEye AI Systems. Todos os direitos reservados.\n    </p>\n  </div>\n</div>",{},{"id":"99","name":"100"},[],[],"success",{"main":"101"},["102"],[],{"main":"103"},["104"],[],{"main":"105"},["106"],[],{"main":"107"},["108"],[],{"main":"109"},["110"],[],{"main":"111"},["112"],[],{"main":"113"},["114"],[],{"main":"115"},["116"],[],"error",{"level":"14","tags":"15","timestamp":1782616433969,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","httpCode":"21","message":"22","stack":"23"},{"resource":"57","operation":"58","fromEmail":"59","toEmail":"60","subject":"61","emailFormat":"62","html":"63","options":"117"},[1700,480],{"smtp":"118"},["119"],"LXgw91EssOGeetUz","SMTP account",["120"],{"previousNode":"54","previousNodeOutput":0,"previousNodeRun":0},["121"],{"previousNode":"122","previousNodeOutput":0,"previousNodeRun":0},["123","124"],{"previousNode":"125","previousNodeOutput":0,"previousNodeRun":0},["126"],{"previousNode":"127","previousNodeOutput":0,"previousNodeRun":0},["128","129"],{"previousNode":"130","previousNodeOutput":1,"previousNodeRun":0},["131"],{"previousNode":"132","previousNodeOutput":0,"previousNodeRun":0},["133"],{"previousNode":"134","previousNodeOutput":0,"previousNodeRun":0},["135"],{"previousNode":"136","previousNodeOutput":0,"previousNodeRun":0},{},{"id":"99","name":"100"},["137"],["138"],["139"],"Validate Data",["140"],[],"Check Validity",["141"],"Query Existing User",[],["142"],"Check Duplicate Exists",["143"],"Insert Usuario",["144"],"Insert Empresa",["145"],"Insert Token",{"json":"146","pairedItem":"147"},{"json":"148","pairedItem":"149"},{"json":"150","pairedItem":"151"},{"json":"150","pairedItem":"152"},{"json":"153","pairedItem":"154"},{"json":"153","pairedItem":"155"},{"json":"156","pairedItem":"157"},{"json":"158","pairedItem":"159"},{"json":"146","pairedItem":"160"},{"token":"161"},{"item":0},{"headers":"162","params":"163","query":"164","body":"165","webhookUrl":"166","executionMode":"167"},{"item":0},{"isValid":true,"data":"168"},{"item":0},{"item":0},{"success":true},["169"],{"item":0},{"id":"170"},{"item":0},{"id":"171"},{"item":0},{"item":0},"7b60f01e-475c-4fc5-95c1-91685d0ebb6e",{"accept-encoding":"172","content-length":"173","host":"174","user-agent":"175","content-type":"176","connection":"177"},{},{},{"nome":"178","email":"179","whatsapp":"180","nome_empresa":"181","cpf":"182"},"http://localhost:5678/webhook/e4f8a6b1-cdbe-4712-a1f9-d892a01f30f5/webhook/cadastro-seguranca","production",{"nome":"178","email":"179","whatsapp":"180","nome_empresa":"181","cpf":"182"},{"item":0},"5a736370-2d58-43d7-985f-a14faa04ec42","549857db-2a41-41ab-8636-31d7cb286942","identity","162","n8n_app:5678","Python-urllib/3.11","application/json","close","João Pedro","personal.joaoptu@gmail.com","+5538997297065","Personal João Pedro","02301368696"]