scratch/success_exec.json
[{"version":1,"startData":"1","resultData":"2","executionData":"3","resumeToken":"4"},{},{"runData":"5","lastNodeExecuted":"6"},{"contextData":"7","nodeExecutionStack":"8","metadata":"9","waitingExecution":"10","waitingExecutionSource":"11","runtimeData":"12"},"9b44f87ae8417880674a4291c186d622d79ea7907036a5224d1a5e622b8f654a",{"Webhook":"13","Validate Data":"14","Check Validity":"15","Query Existing User":"16","Check Duplicate Exists":"17","Insert Usuario":"18","Insert Empresa":"19","Insert Token":"20","Send Activation Email":"21","Check Email Sent":"22","Rollback Registration":"23","Respond Email Error":"24"},"Respond Email Error",{},[],{},{},{},{"version":1,"establishedAt":1782617412488,"source":"25","triggerNode":"26","redaction":"27"},["28"],["29"],["30"],["31"],["32"],["33"],["34"],["35"],["36"],["37"],["38"],["39"],"webhook",{"name":"40","type":"41"},{"version":2,"production":false,"manual":false,"source":"42"},{"startTime":1782617412752,"executionIndex":0,"source":"43","hints":"44","executionTime":3,"executionStatus":"45","data":"46"},{"startTime":1782617412759,"executionIndex":1,"source":"47","hints":"48","executionTime":201,"executionStatus":"45","data":"49"},{"startTime":1782617412961,"executionIndex":2,"source":"50","hints":"51","executionTime":19,"executionStatus":"45","data":"52"},{"startTime":1782617412987,"executionIndex":3,"source":"53","hints":"54","executionTime":417,"executionStatus":"45","data":"55"},{"startTime":1782617413411,"executionIndex":4,"source":"56","hints":"57","executionTime":49,"executionStatus":"45","data":"58"},{"startTime":1782617413461,"executionIndex":5,"source":"59","hints":"60","executionTime":129,"executionStatus":"45","data":"61"},{"startTime":1782617413592,"executionIndex":6,"source":"62","hints":"63","executionTime":65,"executionStatus":"45","data":"64"},{"startTime":1782617413657,"executionIndex":7,"source":"65","hints":"66","executionTime":60,"executionStatus":"45","data":"67"},{"startTime":1782617413717,"executionIndex":8,"source":"68","hints":"69","executionTime":333,"executionStatus":"45","data":"70"},{"startTime":1782617414070,"executionIndex":9,"source":"71","hints":"72","executionTime":6,"executionStatus":"45","data":"73"},{"startTime":1782617414077,"executionIndex":10,"source":"74","hints":"75","executionTime":67,"executionStatus":"45","data":"76"},{"startTime":1782617414146,"executionIndex":11,"source":"77","hints":"78","executionTime":12,"executionStatus":"45","data":"79"},"Webhook","n8n-nodes-base.webhook","workflow",[],[],"success",{"main":"80"},["81"],[],{"main":"82"},["83"],[],{"main":"84"},["85"],[],{"main":"86"},["87"],[],{"main":"88"},["89"],[],{"main":"90"},["91"],[],{"main":"92"},["93"],[],{"main":"94"},["95"],[],{"main":"96"},["97"],[],{"main":"98"},["99"],[],{"main":"100"},["101"],[],{"main":"102"},["103"],{"previousNode":"40","previousNodeOutput":0,"previousNodeRun":0},["104"],{"previousNode":"105","previousNodeOutput":0,"previousNodeRun":0},["106","107"],{"previousNode":"108","previousNodeOutput":0,"previousNodeRun":0},["109"],{"previousNode":"110","previousNodeOutput":0,"previousNodeRun":0},["111","112"],{"previousNode":"113","previousNodeOutput":1,"previousNodeRun":0},["114"],{"previousNode":"115","previousNodeOutput":0,"previousNodeRun":0},["116"],{"previousNode":"117","previousNodeOutput":0,"previousNodeRun":0},["118"],{"previousNode":"119","previousNodeOutput":0,"previousNodeRun":0},["120"],{"previousNode":"121","previousNodeOutput":0,"previousNodeRun":0},["122","123"],{"previousNode":"124","previousNodeOutput":1,"previousNodeRun":0},["125"],{"previousNode":"126","previousNodeOutput":0,"previousNodeRun":0},["127"],["128"],["129"],"Validate Data",["130"],[],"Check Validity",["131"],"Query Existing User",[],["132"],"Check Duplicate Exists",["133"],"Insert Usuario",["134"],"Insert Empresa",["135"],"Insert Token",["136"],"Send Activation Email",[],["137"],"Check Email Sent",["138"],"Rollback Registration",["139"],{"json":"140","pairedItem":"141"},{"json":"142","pairedItem":"143"},{"json":"142","pairedItem":"144"},{"json":"145","pairedItem":"146"},{"json":"145","pairedItem":"147"},{"json":"148","pairedItem":"149"},{"json":"150","pairedItem":"151"},{"json":"152","pairedItem":"153"},{"json":"154","pairedItem":"155"},{"json":"154","pairedItem":"156"},{"json":"157","pairedItem":"158"},{"json":"157","pairedItem":"159"},{"headers":"160","params":"161","query":"162","body":"163","webhookUrl":"164","executionMode":"165"},{"item":0},{"isValid":true,"data":"166"},{"item":0},{"item":0},{"success":true},["167"],{"item":0},{"id":"168"},{"item":0},{"id":"169"},{"item":0},{"token":"170"},{"item":0},{"error":"171"},{"item":0},{"item":0},{"success":true},["172"],{"item":0},{"accept-encoding":"173","content-length":"174","host":"175","user-agent":"176","content-type":"177","connection":"178"},{},{},{"nome":"179","email":"180","whatsapp":"181","nome_empresa":"182","cpf":"183"},"https://n8n.aegiseye.com.br/webhook/e4f8a6b1-cdbe-4712-a1f9-d892a01f30f5/webhook/cadastro-seguranca","production",{"nome":"179","email":"180","whatsapp":"181","nome_empresa":"182","cpf":"183"},{"item":0},"0413a3ad-4d0a-4a40-adb8-a75fc12aa5c4","95e89475-3bd1-426d-a879-41027845c988","b68cc9d1-0e5f-4530-bf5b-7de3415c2bda","Invalid login: 535-5.7.8 Username and Password not accepted. For more information, go to\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials 5b1f17b1804b1-49271465f35sm132414765e9.9 - gsmtp",{"item":0},"identity","169","n8n_app:5678","Python-urllib/3.11","application/json","close","João Pedro de Oliveira Silva","skalidor02@gmail.com","+5511999998888","Minha Empresa Teste","02301368696"]